@using KT_1_ASP
@using KT_1_ASP.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Edit Message";
}

<h2>Edit Message</h2>

<div class="form-group">
    <label for="message">Напишите ваше сообщение:</label>
    <input type="text" class="form-control" id="message" name="message" placeholder="Напишите ваше сообщение" />
</div>

<button type="submit" class="btn btn-primary">Готово!</button>
