@using KT_1_ASP
@using KT_1_ASP.Models
@model string
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Message</h2>
<form method="post">
        <label for="message">Напишите ваше сообщение:</label>
        <input type="text" class="form-control" id="message" name="message" placeholder="Напишите ваше сообщение" />

        <button type="submit" class="btn btn-primary">Готово!</button>
</form>


<h1> Cooбщение: @ViewBag.Message </h1>